<%= stylesheet_pack_tag 'post', 'nonapp_header' %>
<%= javascript_pack_tag 'post', 'nonapp_header' %>

<%= render 'layouts/header' %>

<main class="posts">
    <% @posts.each do |post| %>
      <div class="post post_font">
        <%= link_to post do %>
          <h2 class="post_title title_font"><%= post.title %></h2>
          <% unless post.created_at.to_i == post.updated_at.to_i %>
            <div class="post_time_updated_index">
              <span class="created_at">Created:  <%= post.created_at.localtime.strftime('%B %-d, %Y') %></span>
              <span class="updated_at">Updated:  <%= post.updated_at.localtime.strftime('%B %-d, %Y') %></span>
            </div>
          <% else %>
            <div class="post_time_index">
              <span class="created_at">Created: <%= post.created_at.localtime.strftime('%B %-d, %Y') %></span>
            </div>
          <% end %>
          <hr>
          <% if post.image %>
            <p>
              <%= post.image %>
            </p>
          <% end %>
          <p>
            <%= post.short_description %>
          </p>
        <% end %>
      </div>
    <% end %>
</main>
