<%= stylesheet_pack_tag 'post', 'nonapp_header' %>
<%= javascript_pack_tag 'post', 'nonapp_header' %>

<%= render 'layouts/header' %>

<main class="posts">
    <% @posts.each do |post| %>
      <div class="post post_font">
        <%= link_to post do %>
          <h2 class="post_title title_font"><%= post.title %></h2>
          <hr>
          <% if post.image %>
            <p>
              <%= post.image %>
            </p>
          <% end %>
          <p>
            <%= post.short_description %>
          </p>
        <% end %>
      </div>
    <% end %>
</main>
